@inherits LayoutComponentBase

<header style="padding-bottom:0;">
    <nav style="margin-bottom:0;">
        <ul>
            <li><NavLink class="nav-link" href="" Match="NavLinkMatch.All">Calendar</NavLink></li>
            <li><NavLink class="nav-link" href="share" Match="NavLinkMatch.All">Share</NavLink></li>
            <li><NavLink class="nav-link" href="science" Match="NavLinkMatch.All">Science</NavLink></li>
            <li><NavLink class="nav-link" href="code" Match="NavLinkMatch.All">Code</NavLink></li>
        </ul>
    </nav>
</header>
<main style="padding-top:0;">
<h1>Ananda Marga Fasting Calendar</h1>
@Body
</main>
<footer>
    Created 2024 by Ramanuja - Robin Manoli
    <p>Project website: <a href="https://infinite-happiness.github.io/Ananda-Marga-Fasting-Calendar-Blazor/">https://infinite-happiness.github.io/Ananda-Marga-Fasting-Calendar-Blazor/</a></p>
    <p>GitHub: <a href="https://github.com/infinite-happiness/Ananda-Marga-Fasting-Calendar-Blazor" target="_blank">https://github.com/infinite-happiness/Ananda-Marga-Fasting-Calendar-Blazor</a></p>
    <nav>
        <ul>
            <li><NavLink class="nav-link" href="" Match="NavLinkMatch.All">Calendar</NavLink></li>
            <li><NavLink class="nav-link" href="share" Match="NavLinkMatch.All">Share</NavLink></li>
            <li><NavLink class="nav-link" href="science" Match="NavLinkMatch.All">Science</NavLink></li>
            <li><NavLink class="nav-link" href="code" Match="NavLinkMatch.All">Code</NavLink></li>
        </ul>
    </nav>
</footer>
