@page "/code"

<PageTitle>Code - Ananda Marga Fasting Calendar</PageTitle>
<h3>TL;DR</h3>
The most relevant code for the fasting calculator is here: <a href="https://github.com/infinite-happiness/Ananda-Marga-Fasting-Calendar/blob/main/Pages/Calendar.razor" target="_blank">https://github.com/infinite-happiness/Ananda-Marga-Fasting-Calendar/blob/main/Pages/Calendar.razor</a>

<h2>Available Technology</h2>
<p>At the time of writing there are some free, public libraries for calculating tithis:</p>
<ul>
    <li><a href="https://github.com/MikeDenisov/TithiTools" target="_blank">https://github.com/MikeDenisov/TithiTools</a> (used on this website)</li>
    <li><a href="https://github.com/schenna/panchangJS" target="_blank">https://github.com/schenna/panchangJS</a> (saved in the source code)</li>
    <li><a href="https://github.com/karthikraman/panchangam/" target="_blank">https://github.com/karthikraman/panchangam/</a> (not saved in the source code, because there are too many depdendencies)</li>
</ul>

<p>For calculating sunrise, these libraries are available:</p>
<ul>
    <li><a href="https://github.com/porrey/Solar-Calculator" target="_blank">https://github.com/porrey/Solar-Calculator</a></li>
    <li><a href="https://github.com/jwfxpr/SunriseCalculator" target="_blank">https://github.com/jwfxpr/SunriseCalculator</a></li>
    <li><a href="https://github.com/Hypnos3/suncalc3" target="_blank">https://github.com/Hypnos3/suncalc3</a></li>
    <li><a href="https://github.com/mourner/suncalc" target="_blank">https://github.com/mourner/suncalc</a></li>
</ul>


<h2>This Website</h2>
The method for calculating the fasting dates on this website is as follows:
<ul>
    <li>Tithis are calculated using TithiTools.</li>
    <li>Since tithis are based on the moonphase, and the moonphase is the same all the time on the whole planet, then in order to use Varanasi for any calculations doesn't affect the tithis in any way.</li>
    <li>The time of dawn/sunrise for any particular day depends on the geograhic location of observation. Therefore the sunrise of Varanasi is used for calculating the fasting days.</li>

</ul>

This website is created using Blazor, .NET 8.0 and C#.

Tools used:
<ul>
    <li><a href="https://github.com/MikeDenisov/TithiTools" target="_blank">https://github.com/MikeDenisov/TithiTools</a> - for acquiring the tithis</li>
    <li><a href="https://andybrewer.github.io/mvp/" target="_blank">https://andybrewer.github.io/mvp/</a> - used for automatic styling</li>
</ul>

<h2>Comparisons With Other Published Calendars</h2>






# Synonyms and Keywords (for SEO)
* Upavasa Chart (List)
* Ekadashi Schedule (Table)
* Purnima Almanac (Program)
* Fasting Bulletin (Lineup)
* Ananda Marga Diary
