@page "/"

<PageTitle>Home</PageTitle>

<Calendar />

<h1>Ánanda Márga Fasting Calendar</h1>
<p>This is a fasting chart for Ánanda Márga upavása with ekádashii, and amávasyá (new moon) and púrńimá (full moon) dates.</p>
<p>Project website: <a href="https://infinite-happiness.github.io/Ananda-Marga-Fasting-Calendar/">https://infinite-happiness.github.io/Ananda-Marga-Fasting-Calendar/</a></p>
<p>Code: <a href="https://github.com/infinite-happiness/Ananda-Marga-Fasting-Calendar">https://github.com/infinite-happiness/Ananda-Marga-Fasting-Calendar</a></p>

<h2>Features</h2>
<ul>
    <li>Look up any fasting dates, any year</li>
    <li>Automatically updated - this calendar doesn't depend on someone else hosting a website, or updating the calendar</li>
    <li>Free hosting -  this calendar is free as long as GitHub is free</li>
    <li>Far sighted - all information is attempted to be saved in this project, if any of the linked websites will go down in the future</li>
    <li>Using scientific astronomical calculation libraries</li>
    <li>One source of complete truth - since there are many fasting dates around, the full source of truth here is fully transparent and defined.</li>
    <li>Collaborative and interpersonal project. Anyone can continue, change or reimplement this project by using the git code. </li>
</ul>

<h2>Wanted Features</h2>
<ul>
    <li>Add to your Google Calendar</li>
    <li>Downloadable - you can download the software here - please do so - so that you can use it without internet connection or if github will no longer be free and this website might disappear</li>
</ul>

<h4>Synonyms and Keywords (for SEO)</h4>
<ul>
    <li>Anand Marg Upavasa Chart (List)</li>
    <li>Ánanda Márga Pracáraka Saḿgha Ekadashi Schedule (Table)</li>
    <li>AM Purnima Almanac (Program)</li>
    <li>Ananda Marga Pracaraka Samgha Diary (Calculator)</li>
</ul>
