@page "/science"

<PageTitle>Science</PageTitle>
<h2>Methodology</h2>
<p>
    Many of the technicalities for the fasting chart are explained on
    <a href="https://ampsnys.org/fasting-calendar/" target="_blank">Ananda Marga – New York Sector's website</a>.
</p>

<p>
Here follows some quotes from that website:<br />
<code>The actual fasting day is calculated to include most of the indicated lunar phase.</code>
<br />
    <code>Calculations follow the Indian convention of starting the days at dawn rather than midnight.</code>
    <br />
    <code>These calculations for fasting dates are based on instructions given by Guru Bábá to Ac. Jagadiishvarananda Avt. who was responsible for printing the Ananda Marga Diary. The Diary has always included the official fasting dates for Ananda Marga. Dada explained the system in 1976, reflected in the notes below…</code>
<br />
    <code>For Ekadashi, (literally the 11th day after the new and full moons), we begin with the starting and ending times of the lunar day (...). The system is that the proper fasting day will be the solar day (from sunrise to sunrise) whose maximum time falls within the starting and ending times of the Ekadashi lunar day. The source data is based in Varanasi, India as per instruction by Guru Bábá.</code>
    <code>For those who fast on Purnima (full moon) and Amavasya (new moon), the same process is followed.</code>
    <br />
    <!--<code> For those who do night meditation on the new moon, those calculations are also included (1st Night).</code>-->
</p>

<h4>Tithis</h4>
<p>You can see on <a href="https://www.anandamarga.eu/fastingChart.php" target="_blank">The Official Website of Ananda Marga in Europe - Berlin Sector</a> that the relevant moon phases are tithis.</p>

<code>In Vedic timekeeping, a tithi is a "duration of two faces of moon that is observed from earth", known as milа̄lyа̄ (Newar: 𑐩𑐶𑐮𑐵𑐮𑑂𑐫𑐵𑑅, मिलाल्याः) in Nepal Bhasa,[1] or the time it takes for the longitudinal angle between the Moon and the Sun to increase by 12°. In other words, a tithi is a time duration between the consecutive epochs that correspond to when the longitudinal angle between the Sun and the Moon is an integer multiple of 12°. Tithis begin at varying times of day and vary in duration approximately from 19 to 26 hours.[2] Every day of a lunar month is called tithi.</code>
<img src="img/Tithi_Calculation.jpg" />
<video width="854" height="452" controls>
    <source src="video/Tithi.ogv.480p.vp9.webm" type="video/mp4">
    Your browser does not support the video tag.
</video>
<p>Read more about <a href="https://en.wikipedia.org/wiki/Tithi" target="_blank">tithis on WikiPedia</a>.</p>


<h4>When is sunrise?</h4>
<p>The concept of dawn (sunrise) has different meanings in modern science. On the illustration below you can see that the sun is below the horizon during dawn, and in the center of the horizon at sunrise.</p>
<img src="img/sun-position-sunrise-dawn.webp" />
<small>Credit: ASTRONOMY: ROEN KELLY, after Aurora Borealis Observatory</small>

<p>According to vedic astrology, it's hard to determine whether dawn or sunrise should be using for the start of the day. See these quora answers:</p>
<ul>
    <li><a href="https://www.quora.com/In-Hindu-culture-does-the-new-day-start-at-12-00-AM" target="_blank">https://www.quora.com/In-Hindu-culture-does-the-new-day-start-at-12-00-AM</a></li>
    <li><a href="https://www.quora.com/At-what-time-does-a-day-start-according-to-the-Hindu-calendar" target="_blank">https://www.quora.com/At-what-time-does-a-day-start-according-to-the-Hindu-calendar</a></li>
</ul>

<h2>Available Technology</h2>
<p>At the time of writing there are some free, public libraries for calculating tithis:</p>
<ul>
    <li><a href="https://github.com/MikeDenisov/TithiTools" target="_blank">https://github.com/MikeDenisov/TithiTools</a> (used on this website)</li>
    <li><a href="https://github.com/schenna/panchangJS" target="_blank">https://github.com/schenna/panchangJS</a> (saved in the source code)</li>
    <li><a href="https://github.com/karthikraman/panchangam/" target="_blank">https://github.com/karthikraman/panchangam/</a> (not saved in the source code, because there are too many depdendencies)</li>
</ul>

<p>For calculating sunrise, these libraries are available:</p>
<ul>
    <li><a href="https://github.com/porrey/Solar-Calculator" target="_blank">https://github.com/porrey/Solar-Calculator</a></li>
    <li><a href="https://github.com/jwfxpr/SunriseCalculator" target="_blank">https://github.com/jwfxpr/SunriseCalculator</a></li>
    <li><a href="https://github.com/Hypnos3/suncalc3" target="_blank">https://github.com/Hypnos3/suncalc3</a></li>
    <li><a href="https://github.com/mourner/suncalc" target="_blank">https://github.com/mourner/suncalc</a></li>
</ul>


<h2>This Website</h2>
The method for calculating the fasting dates on this website is as follows:
<ul>
    <li>Tithis are calculated using TithiTools.</li>
    <li>Since tithis are based on the moonphase, and the moonphase is the same all the time on the whole planet, then in order to use Varanasi for any calculations doesn't affect the tithis in any way.</li>
    <li>The time of dawn/sunrise for any particular day depends on the geograhic location of observation. Therefore the sunrise of Varanasi is used for calculating the fasting days.</li>

</ul>

This website is created using Blazor, .NET 8.0 and C#.

Tools used:
<ul>
    <li><a href="https://github.com/MikeDenisov/TithiTools" target="_blank">https://github.com/MikeDenisov/TithiTools</a> - for acquiring the tithis</li>
    <li><a href="https://andybrewer.github.io/mvp/" target="_blank">https://andybrewer.github.io/mvp/</a> - used for automatic styling</li>
</ul>

<h2>Comparisons With Other Published Calendars</h2>
